#wrap > .container-fluid .pagination, #wrap > .container .pagination  {
    padding-right: 0;
}
.oe_website_sale {
    overflow: hidden;
    padding-bottom: 20px;
    background-color: o-theme-color('alpha');
    .o_page_header {
        small {
            a {
                color: red;
            }
        }
    }

    .oe_product {
        border: 0;
        h5 {
            a {
                color: o-theme-color('epsilon');
            }
        }
        .ribbon {
            background-color: red;
            top: 0px;
            width: 145px;
        }

        // Product name, price and quick cart part

        section {
            min-height: 80px;
            padding: 0px 15px;
            background: rgba(255, 255, 255, 0.9) !important;
            h5 {
                padding: 10px 0px;
                font-size: 18px;
                margin: 0px;
                border-top: 1px solid gray('200');
                a {
                    color: o-theme-color('delta');
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            .text-info {
                text-align: left;
                color: gray('600');
            }
            .oe_subdescription {
                margin-bottom: 0px;
            }
            .product_price {
                font-size: 14px;
                position: relative;
                b {
                    .text-danger {
                        color: red;
                    }
                }
            }
            .btn-secondary { // cart btn
                padding: 5px  10px !important;
                background: rgba(0, 0, 0, 0) !important;
                border: none;
                font-size: 15px;
            }
        }
    }
}
#products_grid {
    padding-left: 15px;
    table, tbody {
        background-color: rgba(0, 0, 0, 0) !important;
    }
    .products_pager:first-child {
        border-bottom: 1px solid gray('200');
    }
    .products_pager:last-child {
        border-top: 1px solid gray('200');
    }
    .products_pager {
        margin-top: 15px;
        ul {
            a {
                border: rgba(0, 0, 0, 0);
                color: gray('700');
                min-width: 35px;
            }
        }
    }
    .pagination > .active > a {
        border-bottom: 3px solid o-theme-color('beta');
        background-color: rgba(0, 0, 0, 0);
        color: o-theme-color('beta');
    }
    .pagination a {
        transition: all 0.3s ease-out;
        &:hover {
            border-bottom: 3px solid o-theme-color('delta');
            background: rgba(0, 0, 0, 0);
            color: gray('600');
        }
    }
    .products_pager > ul {
        li:first-child > a {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
        li:last-child > a {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    }
}

/* =================== Search =================== */

.form-inline .input-group {
    width: 100%;
    .form-control {
        width: 100%;
        border-radius: 0px;
        height: 50px;
        font-size: 20px;
        box-shadow: none;
        text-transform: lowercase;
        border: none;
        &:focus {
            box-shadow: none;
        }
    }
    .input-group-btn {
        width: 50px;
        .btn-secondary {
            border-radius: 0px;
            height: 50px;
            width: 50px;
            &:hover {
                background-color: white !important;
            }
        }
        .btn {
            line-height: 2.5;
        }
    }
}

/* =================== Categories =================== */

#products_grid_before {
    padding: 15px 0px 15px 10px;
    padding-bottom: 800em;
    margin-bottom: -800em;
    #o_shop_collapse_category li {
        padding-left: 15px;
        i {
            color: o-theme-color('gamma');
        }
    }
    ul.flex-column {
        li {
            a {
                font-size: 16px;
                color: gray('600');
                &:hover, &:focus {
                    background-color: gray('200');
                    color: gray('700');
                }
            }
        }
    }
    .nav-pills > li > ul {
        padding-left: 15px;
    }
    > ul > li > a {
        color: o-theme-color('gamma') !important;
        text-transform: uppercase;
        font-size: 18px !important;
    }
    .main-category {
        text-transform: uppercase;
    }

    .category-name {
        text-align: left;
        padding-bottom: 10px;
        padding-left: 15px;
        color: o-theme-color('gamma');
    }

    /* =========== Filters ========== */

    .js_attributes {
        border-bottom-width: 10px;
        border-bottom-style: solid;
        border-right-width: 0px;
        padding: 15px 15px;
        margin: 20px 0px;
        border-color: o-theme-color('delta');
        strong {
            display: block;
            padding-left: 10px;
            margin-bottom: 10px;
            margin-top: 10px;
            border-bottom: 1px dotted o-theme-color('beta');
            color: o-theme-color('gamma');
            text-transform: uppercase;
        }
        .css_attribute_color.active {
            border: 5px ridge o-theme-color('alpha');
        }
        li > ul {
            display: block;
        }
        label > span {
            color: gray('700');
        }
    }
}

/* =================== Product page =================== */
.js_sale {
    background-color: o-theme-color('alpha');
    .container-fluid > .row:first-child, .container:first-child > .row:first-child {
        background-color: o-theme-color('beta-light');
    }
    .breadcrumb {
        padding-top: 20px;
        background: rgba(0, 0, 0, 0);
        border-bottom: 1px solid gray('200');
        li {
            font-size: 15px;
            a {
                color: o-theme-color('gamma');
            }
        }
    }
}
#product_detail .col-md-5 {
    border-left: 1px solid gray('200');
}
.js_add_cart_variants > li {
    > strong {
        border-bottom: 1px solid gray('200');
        width: 100%;
        display: inline-block;
        margin: 20px 0px;
        padding-left: 10px;
        font-size: 20px;
        text-transform: uppercase;
        color: o-theme-color('beta');
    }
}
.js_add_cart_variants {
    color: gray('700');

    /* ======== PRICE ======== */

    .oe_price_h4 {
        font-size: 25px;
        .text-danger {
            color: red;
        }
    }
}
.product-title {
    padding: 0px 0px 50px 0px;
    text-align: center;
    color: gray('700');
}
.product-description {
    text-align: center;
    font-size: 18px;
}
#add_to_cart {
    padding-top: 15px;
    max-width: 150px;
    margin: 20px 0;
    border: none;
    margin-top: 0px;
    transition: all 0.5s ease-out;
    .fa {
        font-size: 25px;
    }
}

/* ======= ADD QUANTITY ========= */

.oe_website_spinner {
    min-width: 150px;
    margin-bottom: 25px;

    .js_add_cart_json {
        border: none;
        background-color: o-theme-color('gamma');
        color: white;
    }
    .quantity {
        background-color: rgba(0, 0, 0, 0);
        text-align: center;
        border-color: o-theme-color('gamma');
    }
}
.badge, .active > a > .badge {
    padding: 5px 10px;
    margin-left: 15px;
    background-color: o-theme-color('gamma');
    color: white;
    min-width: 28px;
}
.list-unstyled .css_attribute_color.active {
    border: 3px solid o-theme-color('gamma');
}
#website_sale_recommended_products {
    padding: 30px;
    h3 {
        text-align: center;
        border-bottom: 5px solid o-theme-color('epsilon');
        padding-bottom: 20px;
        color: o-theme-color('gamma');
    }
    .row {
        padding: 0 15px;
    }
    .col-lg-2 {
        margin-top: 10px;
        min-height: 160px;
        span {
            color: o-theme-color('epsilon');
        }
    }
}

/* ===================== Product list view ======================= */

.oe_list {
    margin: 5px 0 5px 15px;
    border: 1px solid gray('200');
    width: 90% !important;
    @include media-breakpoint-down(sm) {
        height: auto !important;
    }
    img {
        padding: 10px 0;
    }
    section {
        .product_price {
            display: inline-block;
        }
        .oe_subdescription {
            max-width: 70%;
        }
    }
}

/* =================== Modal =================== */
#modal_optional_products {
    .modal-title {
        background: rgba(0, 0, 0, 0);
    }
    .input-group {
        border-collapse: inherit;
    }
    table td:first-child {
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
}
/* =================== Shopping cart =================== */
.oe_website_sale {
    color: gray('700');
    .oe_cart {
        strong {
            color: gray('700');
        }
        .card {
            text-align: unset;
            background-color: rgba(0, 0, 0, 0);
        }
        #cart_products {
            img {
                max-width: 100px;
            }
        }
        .oe_website_spinner {
            margin: auto;
            border-collapse: inherit;
        }
        .a-submit {
            padding: 20px 0px;
            border-width: 3px;
            border-radius: 0px;
            min-width: 150px;
            border-radius: 50px;
        }
    }
    .progress-wizard .progress-wizard-step.active {
        .progress-wizard-dot {
            background-color: o-theme-color('epsilon');
        }
        .progress-wizard-steplabel {
            color: gray('700');
        }
    }
    h4 .oe_currency_value {
        font-size: 25px;
    }
    #right_column {
        color: gray('700');
        a {
            color: red;
        }
        .btn {
            border-radius: 0px;
            border: none;
        }
        .input-group-btn {
            padding-left: 5px;
        }
        h4 {
            color: o-theme-color('beta');
            border-bottom: 1px solid o-theme-color('beta');
            font-size: 22px;
            font-weight: bold;
        }
        .fa {
            padding-right: 5px;
        }
    }
    .wizard {
        box-shadow: none;
        @include media-breakpoint-down(sm) {
            padding-right: 0px;
        }

        li {
            @include media-breakpoint-down(sm) {
                padding-left: 7px;
            }
        }
    }
}
.form-control:focus {
    border: 1px solid o-theme-color('delta');
}

/* ======================== PAY =========================== */
.oe_sale_acquirer_button {
    .btn {
        min-width: 150px;
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 20px;
    }
}
