.o_form_view_inspur .o_group .o_group_col_6{
    width:95% !important;
    display: block;
    margin: 10px auto !important;
}
.o_form_view_inspur .o_group.o_inner_group > tbody > tr > td.o_td_label{
    padding: 0 !important;
    min-width: 60px !important;
    text-align: right;
}
.o_form_view_inspur .o_group.o_inner_group > tbody > tr > td {
    padding: 0 0 0 10px !important;
}
.o_form_view_inspur .o_group .o_field_widget {
    width: 80% !important;
    height:100%;
}
.o_form_view_inspur .o_field_widget input.o_input{
    height:100%;
}
.o_form_view_inspur .o_data_row{
    width:100%;
}
.o_form_view_inspur .o_data_cell{
    width:218px;
    border: 1px solid #d9d7d7 !important;
    border-collapse: collapse !important;
}
.o_form_view_inspur .o_notebook > .tab-content > .tab-pane > :first-child.o_field_x2many.o_field_x2many_list tr > :first-child, .o_form_view_inspur .o_notebook > .tab-content > .tab-pane > :first-child.o_field_x2many.o_field_x2many_list tr > :first-child .o_input{
    padding: 5px;
}
.o_form_view_inspur .table-striped > tbody > tr:nth-of-type(odd) {
     background-color: #fff !important;
}
.o_form_view_inspur .o_list_view > thead > tr > th.o_column_sortable:not(:empty){
    padding: 0px !important;
    text-align: center !important;
}
.o_form_view_inspur .o_form_sheet_bg > .o_form_sheet{
    padding: 0 32px !important;
}
.o_form_view_inspur .o_notebook > ul.nav.nav-tabs > li > a {
    padding: 5px 16px;
}
.o_form_view_inspur .o_field_widget .o_list_view > tfoot > tr > td{
    padding: 3px !important;
}
.o_form_view_inspur .o_column_sortable{
    padding: 0px !important;
}
