.rel .cell_val{
    font-size: 14px;
    letter-spacing: 12px;
    overflow: hidden;
    position: relative;
    right: -5px;
    text-align: right;
}
.unit_china{
    display: block;
    width: 100%;
    background-image:url(/ps_account/static/src/img/money_rp.png) !important;
    background-repeat: repeat-y;
    height: 22px;
    line-height: 22px;
    font-weight: normal;
    border-top: 1px solid #dadada;
    text-align: right;
    position: relative;
    top: 4px;
    letter-spacing: 6.5px;
}
tfoot .o_list_number{
    background: none !important;
}
tfoot .upcase{
    width:1120px;
    text-align: left;
    height:30px;
    line-height: 30px;
}
.inspur_account tbody a{
    opacity:0;
}
/*.inspur_account tbody .ps_number{*/
    /*opacity:1 !important;*/

.inspur_account tbody .o_field_integer{
    opacity: 0;
}
.inspur_account .ps_number{
    background: none !important;
    text-align: center !important;
}
.aaa th{
    display: none;
}
#icon-ctrl{
    text-align: center;
    border: none !important;
}
.fa-plus-square{
    display:block;
}
#icon_border{
    text-align: center;
    border: none !important;
}
.ps_display{
    display: none;
}