div.modal.in {
    position: absolute;
    background: white;
    padding: 0px !important;
    box-shadow: 0px 10px 20px black;
    border-radius: 3px;
    max-width: 1000px;
    max-height: 330px;
    margin-top: -165px;
    margin-left: -500px;
    top: 50%;
    left: 50%;
    overflow: hidden;
}

.ui-dialog, .modal-dialog {
    box-shadow: none;
    overflow: hidden;
    width: 100%;
}
.modal.in .modal-dialog {
    margin: 0;
    top: 0;
    padding: 0;
}
.modal-content{
    height: 100%;
}
.pos .payment-numpad .numpad {
    width: 300px;
}
.label{
    color: #555555;
    display: table-row;
}