html, body{ height: 100%; margin: 0; padding: 0; }
#formula {
    border-collapse: collapse;
    margin: 10px 0;
}
#formula tr {
    border: 1px solid #ddd;
}
#formula td {
    padding:5px;
    text-align: center;
}
#formula th {
    padding:5px;
    text-align: center;
    /*background-color: #BEBFC3;*/
}

#formulamenu{
    float:top;
    height: 100%;
    border: 1px solid #ddd;
    margin: 20px 10px 0px 0px;
    padding:5px;
}

.inputformula {
    outline:none;
    background:transparent;
    border:none;
    outline:medium;
}

.inputformula:focus {
    /*outline:none;*/
    border: 1px solid gray;
}

#arithmetictable {
    border-collapse: collapse;
    margin: 10px 0;
}
#arithmetictable tr {
    border: 1px solid #ddd;
}
#arithmetictable td {
    padding:5px;
    text-align: center;
    border: 1px solid #ddd;
}
#arithmetictable th {
    padding:5px;
    text-align: center;
    /*background-color: #BEBFC3;*/
    border: 1px solid #ddd;
}
#arithmetictable tr:nth-child(odd){
    background: white;
}
#arithmetictable tr:nth-child(even){
    background: #ddd;
}

.inputaddformula {
    outline:none;
    background:transparent;
    border:none;
    outline:medium;
}

.inputaddformula:focus {
    /*outline:none;*/
    border: 1px solid gray;
}

.inputaddoperator {
    outline:none;
    background:transparent;
    border:none;
    outline:medium;
}

.inputaddoperator:focus {
    /*outline:none;*/
    border: 1px solid gray;
}

.inputaddformularow {
    outline:none;
    background:transparent;
    border:none;
    outline:medium;
    text-align:center;
}

.inputaddformularow:focus {
    /*outline:none;*/
    border: 1px solid gray;
}

.inputaddformulacol {
    outline:none;
    background:transparent;
    border:none;
    outline:medium;
    text-align:center;
}

.inputaddformulacol:focus {
    /*outline:none;*/
    border: 1px solid gray;
}

.inputaddformularowoffset {
    outline:none;
    background:transparent;
    border:none;
    outline:medium;
    text-align:center;
}

.inputaddformularowoffset:focus {
    /*outline:none;*/
    border: 1px solid gray;
}

.inputaddformulacoloffset {
    outline:none;
    background:transparent;
    border:none;
    outline:medium;
    text-align:center;
}

.inputaddformulacoloffset:focus {
    /*outline:none;*/
    border: 1px solid gray;
}

#statement_menu section button{
    margin-top:1px;
}
#statement_menu2 section button,#statement_menu2 section div{
    margin-top:1px;
    padding: 1px 3px;
}
#statement_menu2 section ul{
    background-color: #00a09d;
}